#projects
.vscode/
#compilers and linkers
*.o
*.s
*.exp
#runtime generated
apg.log
*.wav
out.*
apg_console/apg_pixfont.c
apg_console/apg_pixfont.h
apg_console/testoutput.png
apg_console/testuserenteredtext.png
apg_bmp/tests_fuzzing/fuzz_24bpp_outputs/
apg_bmp/tests_fuzzing/fuzz_32bpp_outputs/
#binaries
a.out
*.dll
*.dylib
*.7z
*.zip
*.exe
*.bin
*.sav
*.lib
*.obj
*.mod
*.s3m
*.xm
*.dat
*.rle
apg_bmp/test_read_bmp
apg_bmp/test_write_bmp
apg_bmp/tests_fuzzing/fuzz_24bpp
apg_bmp/tests_fuzzing/fuzz_32bpp
apg_tga/test_read_tga
apg_tga/test_write_tga
#working test data
apg_pixfont/0.png
apg_pixfont/1.png
apg_pixfont/2.png
apg_pixfont/3.png
apg_pixfont/4.png
apg_pixfont/6.png
apg_pixfont/5.png
apg_pixfont/7.png
apg_pixfont/utils/code.c
apg_pixfont/tests/0.png
apg_pixfont/tests/1.png
apg_pixfont/tests/2.png
apg_pixfont/tests/3.png
apg_pixfont/tests/4.png
apg_pixfont/tests/5.png
apg_pixfont/tests/6.png
apg_pixfont/tests/7.png
apg/tests/anton_24bpp.bmp
apg/tests/anton2022.sav
apg_bmp/test_images/
apg_maths/tests/tmp/
apg_mod/*.raw
apg_mod/*.mp3
*Tutorial.txt
apg/tests/out_path.png
output_black.png
output_white.png
apg/tests/x.png
apg_wav/out_vis.png
apg_wav/out_vis2.png
apg/apg.h
apg/tests/rle_compress.c
apg/tests/test_rand_r
apg_pixfont/utils/atlas.bmp
apg_pixfont/utils/atlas.png
apg_pixfont/utils/atlas_italic.png
apg_pixfont/utils/atlas_bold.png
apg_pixfont/utils/atlas_underline.png
apg_pixfont/utils/atlas_strikethrough.png
apg_pixfont/atlas_bold.png
apg_pixfont/atlas_italic.png
apg_pixfont/atlas_strikethrough.png
apg_pixfont/atlas_underline.png
apg_pixfont/atlas.png
apg_pixfont/8.png
apg_pixfont/9.png
apg_pixfont/10.png
apg_pixfont/11.png
apg_pixfont/12.png
apg_pixfont/13.png
apg_pixfont/14.png
apg_pixfont/15.png
apg_pixfont/16.png
apg_pixfont/17.png
apg_pixfont/18.png
apg_pixfont/19.png
apg_pixfont/20.png
apg_pixfont/21.png
apg_pixfont/22.png
apg_pixfont/23.png
apg_pixfont/24.png
apg_pixfont/25.png
apg_pixfont/26.png
apg_pixfont/27.png
apg_pixfont/28.png
apg_pixfont/29.png
apg_pixfont/30.png
apg_pixfont/31.png
apg_pixfont/32.png
apg_pixfont/33.png
apg_pixfont/34.png
apg_pixfont/35.png
apg_pixfont/36.png
apg_pixfont/37.png
apg_pixfont/38.png
apg_pixfont/39.png
