#projects
.vscode/
#compilers and linkers
*.o
*.s
*.exp
#runtime generated
apg.log
testout.wav
out.*
apg_console/testoutput.png
apg_console/testuserenteredtext.png
apg_bmp/tests_fuzzing/fuzz_24bpp_outputs/
apg_bmp/tests_fuzzing/fuzz_32bpp_outputs/
#binaries
a.out
*.dll
*.dylib
*.7z
*.zip
*.exe
*.sav
*.lib
*.obj
apg_bmp/test_read_bmp
apg_bmp/test_write_bmp
apg_bmp/tests_fuzzing/fuzz_24bpp
apg_bmp/tests_fuzzing/fuzz_32bpp
apg_tga/test_read_tga
apg_tga/test_write_tga
#working test data
apg_pixfont/0.png
apg_pixfont/1.png
apg_pixfont/2.png
apg_pixfont/4.png
apg_pixfont/6.png
apg_pixfont/5.png
apg_pixfont/7.png
apg_pixfont/utils/code.c
apg_pixfont/tests/0.png
apg_pixfont/tests/1.png
apg_pixfont/tests/2.png
apg_pixfont/tests/4.png
apg_pixfont/tests/5.png
apg_pixfont/tests/6.png
apg_pixfont/tests/7.png
apg/tests/anton_24bpp.bmp
apg/tests/anton2022.sav
apg/tests/out2.rle
apg_bmp/test_images/
apg_maths/tests/tmp/
